# Node.js modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Cache and temp directories
.npm
.cache/
.temp/
.tmp/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Debug
node_modules/.cache/